
<div class = "container1">
<div class = "container">

<% @all_article.reverse.take(20).each do  |single_post| %>

 <div class=" bounceIn card text-white bg-dark mb-3 " >


  <div class="card-header"><a href="/post/<%=single_post.id%>"><%= single_post.title%></a>
  <a href="/post/<%=single_post.id%>/edit"><h3>Edit</h3></a>
 
  </div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text"><%= single_post.post%></p>
  </div>
</div>

<% end %>
</div>
 </div>