
 <div class = "container3">
<div class = "row">




<% @all_article.take(20).each do  |single_post| %>
 <div class="card" style="width: 18rem;" class = ''>
  <img class="card-img-top" style='height: 150px;' src="<%=single_post.img%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= single_post.title%></h5>
    <p class="card-text card_1"><%= single_post.post%></p>
    <a href="/post/<%=single_post.id%>" class="float-right">Read more</a>
    
  </div>
</div>
<% end %>

</div>
</div>