

nav {
    display: flex;
    
    
    #btn {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        a {
            margin-left: 15px;
            color: white;
            font-size: 1rem;
            list-style: none;
            text-decoration: none;
            font-family: 'Lobster', cursive;
            opacity: 1;
        }
         
    }
}


// all article
.container1 {
    position: absolute;
    width: 100%;
    background-image: url('/images/postsbg.jpeg');
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    // height: 100%;
}

.card {
    box-shadow: -1px 2px 11px black;
    margin-right: 20px;
    margin-top:20px;
    a{
        color: #401515;
    }
    
}

.table {
    
    box-shadow: 11px 11px 13px 2px black;
}

.butt {
    width: 7%;
    margin-right: 12px;
}

.table {
    margin-top: 100px;
    width: 80%;
    a {
        color: white;
    }
}

#post_bg {
    position: absolute;
    background-image: url('/images/profile.jpg');
    margin: 0px;
    width: 100%;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    .user_post {
        margin-top: 20px;
        width: 60%;
        height: 80%;
        margin: 10%;
        display: flex;
        justify-content: space-between;
        .user_p {
           
        }
    }
}

 .edit{

 width: 100%;
 height: 800px;
 display: flex;
 justify-content: center;
 margin-top: 50px;
 .row1{
   
    display: flex;
    flex-direction: column;
 }

 }
.container3{
   
    .row{ 
        
        height: 400px;
        display: flex;
        justify-content: space-around;
         margin-top: 50px;
    
 .card_1{
     
     height: 100px;
    overflow-y: scroll;

 }
}
}
 .user-id{
    display:  flex;
    justify-content:  center;

 }

 #register{
    
    margin-top: 20%;
    margin-left: 10%;



    // .copy{
    //     width:100%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     color : white;
    //     text-shadow: 5px -1px 7px #716d6db3;
    //     font-family: 'Fredericka the Great', cursive;
    //     overflow: hidden; 
    //     white-space: nowrap;
    //     margin: 0 auto;
    //     animation: 
    //     typing 3.5s steps(20, end);
    //     .register-style{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     width: 500px; 
    //     }
      
    //  }
}

 @media screen and (max-width: 800px) {
   .row1{
       width: 100%;
        height: 80%;
   }
   .mobile-text{
       width: 100%;

   }
.mbtext{
    font-size: 10px;
}

#register{
    
margin:30%;
}
   
  }