#about {
  background-image: url("images/blockchain.gif");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#about .copy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 5px -1px 7px #716d6db3;
  font-family: 'Fredericka the Great', cursive;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  -webkit-animation: typing 3.5s steps(20, end);
          animation: typing 3.5s steps(20, end);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

nav #btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #btn a {
  margin-left: 15px;
  color: white;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  font-family: 'Lobster', cursive;
}

nav #btn .butt:hover {
  -webkit-animation: flash 2s infinite;
          animation: flash 2s infinite;
}

#login {
  background-image: url("images/learn.jpeg");
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#login .copy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 5px -1px 7px #716d6db3;
  font-family: 'Fredericka the Great', cursive;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  -webkit-animation: typing 3.5s steps(20, end);
          animation: typing 3.5s steps(20, end);
}

#register {
  background-image: url("images/singin.jpeg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#register .copy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: 5px -1px 7px #716d6db3;
  font-family: 'Fredericka the Great', cursive;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  -webkit-animation: typing 3.5s steps(20, end);
          animation: typing 3.5s steps(20, end);
}

#register .copy .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contactForm {
  margin: 9%;
}

.container1 {
  width: 100%;
  background-image: url("images/postsbg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.card {
  -webkit-box-shadow: 11px 11px 13px 2px black;
          box-shadow: 11px 11px 13px 2px black;
}

.table {
  -webkit-box-shadow: 11px 11px 13px 2px black;
          box-shadow: 11px 11px 13px 2px black;
}

.butt {
  width: 7%;
  margin-right: 12px;
}

.table {
  margin-top: 100px;
  width: 80%;
}

.table a {
  color: white;
}

.user_post {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  margin: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user_post .user_p {
  margin-left: 130px;
}

.bounceIn {
  -webkit-animation: bounceIn 8s;
          animation: bounceIn 8s;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=style2.css.map */